@import "tailwindcss";

:root {
  --design-width: 1280;
  --k: calc(100vw / var(--design-width));

  --background: #ffffff;
  --foreground: #171717;

  --main-white: #F2F3F8;
  --white: #FFFFFF;
  --black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-main-white: var(--main-white);
  --color-white: var(--white);
  --color-black: var(--black);

  --font-sans: var(--font-codenext), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}