.main {
    position: absolute;
    inset: 0;
    overflow: hidden;
    --case_k: 0;

    display: flex;
    flex-direction: row;

    background-color: white;
}

.image,
.content,
.lines{
    width: calc(484px * var(--case_k));
    height: calc(541px * var(--case_k));
}

.image{
    background-color: #191919;
    position: relative;
}
.content{
    background-color: #C74F4A;
}

.lines{
    opacity: .23;
}
.imageTitle{
    position: absolute;
    top: calc(267px * var(--case_k));
    left: calc(189px * var(--case_k));
    line-height: 1;
    font-size: calc(36px * var(--case_k));
    font-family: var(--font-codenext);
    font-weight: 700;

    color: white;
}
.imageSubtitle{
    position: absolute;
    top: calc(386px * var(--case_k));
    left: calc(191px * var(--case_k));

    font-size: calc(13px * var(--case_k));
    line-height: 1;
    font-family: var(--font-codenext);
    font-weight: 500;

    color: white;
}
.imageDescription{
    position: absolute;
    top: calc(339px * var(--case_k));
    left: calc(191px * var(--case_k));
    width: calc(262px * var(--case_k));

    font-size: calc(8px * var(--case_k));
    line-height: 1;
    font-family: var(--font-codenext);
    font-weight: 300;

    color: white;
    opacity: .33;
}
.imageTopLinkContainer{
    position: absolute;
    top: calc(14px * var(--case_k));
    left: calc(191px * var(--case_k));

    display: flex;
    flex-direction: row;

    color: white;
}
.imageTopLink{
    font-size: calc(7px * var(--case_k));
    line-height: 1;
    font-family: var(--font-codenext);
    font-weight: 300;

    color: white;
}
.imageTopLinkOnest{
    font-size: calc(7px * var(--case_k));
    line-height: 1;
    font-family: var(--font-onest);
    font-weight: 300;

    color: white;
}
.imageTop2026Container{
    position: absolute;
    top: calc(14px * var(--case_k));
    left: calc(440px * var(--case_k));

    display: flex;
    flex-direction: row;
    justify-content: center;

    color: white;
}
.imageTop2026{
    font-size: calc(7px * var(--case_k));
    line-height: 1;
    font-family: var(--font-codenext);
    font-weight: 300;

    color: white;
}
.imageTop2026Onest{
    font-size: calc(7px * var(--case_k));
    line-height: 1;
    font-family: var(--font-onest);
    font-weight: 300;

    color: white;
}
.imageMicrographic{
    position: absolute;
    top: calc(14px * var(--case_k));
    left: calc(137px * var(--case_k));

    width: calc(10px * var(--case_k));
    height: calc(57px * var(--case_k));
}
.imageLogo{
    position: absolute;
    top: calc(502px * var(--case_k));
    left: calc(21px * var(--case_k));

    width: calc(41px * var(--case_k));
}

.contentTitle{
    position: relative;
    top: calc(23px * var(--case_k));
    left: calc(45px * var(--case_k));

    font-size: calc(72px * var(--case_k));
    line-height: 1;
    font-family: var(--font-codenext);
    font-weight: bold;

    color: white;
}
